<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>studentManagementweb</display-name>
  <welcome-file-list>
    <welcome-file>indeex.html</welcome-file>
    <welcome-file>index</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Insert1</display-name>
    <servlet-name>Insert1</servlet-name>
    <servlet-class>com.sundar.Insert1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert1</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Read1</display-name>
    <servlet-name>Read1</servlet-name>
    <servlet-class>com.sundar.Read1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Read1</servlet-name>
    <url-pattern>/read</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.sundar.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>com.sundar.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit1</display-name>
    <servlet-name>Edit1</servlet-name>
    <servlet-class>com.sundar.Edit1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit1</servlet-name>
    <url-pattern>/edit1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.sundar.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>